{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="col-sm-8 offset-2 shadow-lg mt-3">
   <h1 class=" text-center rounded" style="color:whitesmoke ; background-color: cornflowerblue;">Customer Update</h1>
<div class="bg-white">
   <form action="" method="post">
       {% csrf_token %}

       {% for form in we %}
       <div class="form-group">
          <b> {{form.label_tag}} {{form}} {{form.error}}</b>
       </div>
       {% endfor %}
       <br>
       
<div>
   
       <button class="submit btn btn-primary ">update</button>
      {% comment %} <form action="{% url 'delete' x.id %}" method="post">
         {% csrf_token %}
         <input type="submit" value="delete">
     </form>  {% endcomment %}


</div>
   </form>
</div>
</div>

{% endblock content %}