 {% extends 'base.html' %}
  {% load static %}
  
  


  {% block content %}


<div class="col-sm-9 offset-2 shadow-lg mt-3">
<h1 class=" text-center rounded" style="color:whitesmoke ; background-color: cornflowerblue;">Dealer Details</h1>
<div>
    <table class="table table-bordered border-dark table-secondary ">
        
            <thead>
              <tr>
                <th scope="col">Sr.no</th>
                <th scope="col">Dealer name </th>
                <th scope="col">Email</th>
                <th scope="col">Phone no</th>
                <th scope="col">Address</th>
                <th scope="col">Delete Record</th>
                
              </tr>
            </thead>
            <tbody>
                {% for x in sm %}
              <tr>
                <th scope="row"><a href="{% url 'dupdate' x.id %}">{{forloop.counter}} </a> </th>
                <td>{{x.dname}}</td>
                <td>{{x.email}}</td>
                <td>{{x.phone}}</td>
                <td>{{x.address}}</td>
                <td>

                  <form action="{% url 'delete' x.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger my-1 " value="Delete">
                  </form>
                </td>
                
              </tr>
              {% endfor %}
              
              
            </tbody>
         
      </table>
</div>
</div>



  {% endblock content %}

 