{% extends 'base.html' %}
{% load static %}





{% block content %}

<div class="col-sm-9 offset-2 shadow-lg mt-3">
    
    <h1 class=" text-center rounded" style="color:whitesmoke ; background-color: cornflowerblue;">Purchase Details</h1>
    <div>
        <table class="table table-bordered border-dark table-secondary ">

            <thead>
                <tr>
                    <th scope="col">Sr no.</th>
                    <th scope="col">Purchase Name</th>
                    <th scope="col">First name </th>
                    <th scope="col">Last name</th>
                    <th scope="col">Phone no.</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for y in ptbs %}
                <tr>
                    <th scope="row"><a href="{% url 'purupdate' y.id %} ">{{forloop.counter}}</a> </th>
                    <td>{{y.pname}}</td>
                    <td>{{y.fname}}</td>
                    <td>{{y.lname}}</td>
                    <td>{{y.phn_no}}</td>
                    <td>{{y.price}}</td>
                    <td>{{y.qty}}</td>
                    <td>{{y.total}}</td>
                    <td>

                        <form action="{% url 'purdel' y.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-danger my-1 " value="Delete">
                          </form>


                    </td>
                </tr>
                {% endfor %}


            </tbody>

        </table>
       
    </div>
</div>

{% endblock content %}